uwbs/uwbs_tuua/UWBS_TUUA/Web References/WSInterbank/wsTipoCambioLAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://extranetib/Lapextdmz/wsTipoCambioLAP" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://extranetib/Lapextdmz/wsTipoCambioLAP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://extranetib/Lapextdmz/wsTipoCambioLAP">
      <s:element name="fCargaTipoDeCambio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="argFlagCompraVenta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fCargaTipoDeCambioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fCargaTipoDeCambioResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fCargaTipoDeCambioTodos">
        <s:complexType />
      </s:element>
      <s:element name="fCargaTipoDeCambioTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fCargaTipoDeCambioTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fCargaTipoDeCambioSoapIn">
    <wsdl:part name="parameters" element="tns:fCargaTipoDeCambio" />
  </wsdl:message>
  <wsdl:message name="fCargaTipoDeCambioSoapOut">
    <wsdl:part name="parameters" element="tns:fCargaTipoDeCambioResponse" />
  </wsdl:message>
  <wsdl:message name="fCargaTipoDeCambioTodosSoapIn">
    <wsdl:part name="parameters" element="tns:fCargaTipoDeCambioTodos" />
  </wsdl:message>
  <wsdl:message name="fCargaTipoDeCambioTodosSoapOut">
    <wsdl:part name="parameters" element="tns:fCargaTipoDeCambioTodosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTipoCambioLAPSoap">
    <wsdl:operation name="fCargaTipoDeCambio">
      <wsdl:input message="tns:fCargaTipoDeCambioSoapIn" />
      <wsdl:output message="tns:fCargaTipoDeCambioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fCargaTipoDeCambioTodos">
      <wsdl:input message="tns:fCargaTipoDeCambioTodosSoapIn" />
      <wsdl:output message="tns:fCargaTipoDeCambioTodosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTipoCambioLAPSoap" type="tns:wsTipoCambioLAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fCargaTipoDeCambio">
      <soap:operation soapAction="http://extranetib/Lapextdmz/wsTipoCambioLAP/fCargaTipoDeCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fCargaTipoDeCambioTodos">
      <soap:operation soapAction="http://extranetib/Lapextdmz/wsTipoCambioLAP/fCargaTipoDeCambioTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTipoCambioLAP">
    <wsdl:port name="wsTipoCambioLAPSoap" binding="tns:wsTipoCambioLAPSoap">
      <soap:address location="http://216.244.151.15/lapextDMZ/wsTipoCambioLAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>