app/app_util_molinetes/App_Molinetes/Service References/cnx6/ws_servicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReiniciarServicio">
        <s:complexType />
      </s:element>
      <s:element name="ReiniciarServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReiniciarServicioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReiniciarPC">
        <s:complexType />
      </s:element>
      <s:element name="ReiniciarPCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReiniciarPCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerLog">
        <s:complexType />
      </s:element>
      <s:element name="obtenerLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerLogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReiniciarServicioSoapIn">
    <wsdl:part name="parameters" element="tns:ReiniciarServicio" />
  </wsdl:message>
  <wsdl:message name="ReiniciarServicioSoapOut">
    <wsdl:part name="parameters" element="tns:ReiniciarServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ReiniciarPCSoapIn">
    <wsdl:part name="parameters" element="tns:ReiniciarPC" />
  </wsdl:message>
  <wsdl:message name="ReiniciarPCSoapOut">
    <wsdl:part name="parameters" element="tns:ReiniciarPCResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerLogSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerLog" />
  </wsdl:message>
  <wsdl:message name="obtenerLogSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerLogResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_serviciosSoap">
    <wsdl:operation name="ReiniciarServicio">
      <wsdl:input message="tns:ReiniciarServicioSoapIn" />
      <wsdl:output message="tns:ReiniciarServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReiniciarPC">
      <wsdl:input message="tns:ReiniciarPCSoapIn" />
      <wsdl:output message="tns:ReiniciarPCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerLog">
      <wsdl:input message="tns:obtenerLogSoapIn" />
      <wsdl:output message="tns:obtenerLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_serviciosSoap" type="tns:ws_serviciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReiniciarServicio">
      <soap:operation soapAction="http://tempuri.org/ReiniciarServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReiniciarPC">
      <soap:operation soapAction="http://tempuri.org/ReiniciarPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerLog">
      <soap:operation soapAction="http://tempuri.org/obtenerLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_serviciosSoap12" type="tns:ws_serviciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReiniciarServicio">
      <soap12:operation soapAction="http://tempuri.org/ReiniciarServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReiniciarPC">
      <soap12:operation soapAction="http://tempuri.org/ReiniciarPC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerLog">
      <soap12:operation soapAction="http://tempuri.org/obtenerLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_servicios">
    <wsdl:port name="ws_serviciosSoap" binding="tns:ws_serviciosSoap">
      <soap:address location="http://localhost/ws_servicios/ws_servicios.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_serviciosSoap12" binding="tns:ws_serviciosSoap12">
      <soap12:address location="http://localhost/ws_servicios/ws_servicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>