app/app_ventas/Backup/CLIENTEWS/Web References/WSConfiguracion/WSConfiguracion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListarAllParametrosGenerales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParametro" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarAllParametrosGeneralesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarAllParametrosGeneralesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetalleParametroGeneralxId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sIdentificador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetalleParametroGeneralxIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetalleParametroGeneralxIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarParametroGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sValoresFormulario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sValoresGrilla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sParametroVenta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarParametroGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GrabarParametroGeneralResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerParametroGeneral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCodParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerParametroGeneralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerParametroGeneralResult" type="tns:ParameGeneral" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ParameGeneral">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SIdentificador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDescripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STipoParametro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STipoParametroDet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="STipoValor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SValor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCampoLista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SIdentificadorPadre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SLog_Usuario_Mod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SLog_Fecha_Mod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SLog_Hora_Mod" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BFlag" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarListaDeCampo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objListaDeCampo" type="tns:ListaDeCampo" />
            <s:element minOccurs="1" maxOccurs="1" name="intTipo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaDeCampo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SNomCampo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCodCampo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SCodRelativo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDscCampo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SLogUsuarioMod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SLogFechaMod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SLogHoraMod" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarListaDeCampoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarListaDeCampoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListaDeCampo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strNomCampo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodCampo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListaDeCampoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListaDeCampoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarListaDeCampo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strNomCampo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCodCampo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarListaDeCampoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarListaDeCampoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarAllParametrosGeneralesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarAllParametrosGenerales" />
  </wsdl:message>
  <wsdl:message name="ListarAllParametrosGeneralesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarAllParametrosGeneralesResponse" />
  </wsdl:message>
  <wsdl:message name="DetalleParametroGeneralxIdSoapIn">
    <wsdl:part name="parameters" element="tns:DetalleParametroGeneralxId" />
  </wsdl:message>
  <wsdl:message name="DetalleParametroGeneralxIdSoapOut">
    <wsdl:part name="parameters" element="tns:DetalleParametroGeneralxIdResponse" />
  </wsdl:message>
  <wsdl:message name="GrabarParametroGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:GrabarParametroGeneral" />
  </wsdl:message>
  <wsdl:message name="GrabarParametroGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:GrabarParametroGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerParametroGeneralSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerParametroGeneral" />
  </wsdl:message>
  <wsdl:message name="obtenerParametroGeneralSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerParametroGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarListaDeCampoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarListaDeCampo" />
  </wsdl:message>
  <wsdl:message name="RegistrarListaDeCampoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarListaDeCampoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaDeCampoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListaDeCampo" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaDeCampoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListaDeCampoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarListaDeCampoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarListaDeCampo" />
  </wsdl:message>
  <wsdl:message name="EliminarListaDeCampoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarListaDeCampoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSConfiguracionSoap">
    <wsdl:operation name="ListarAllParametrosGenerales">
      <wsdl:input message="tns:ListarAllParametrosGeneralesSoapIn" />
      <wsdl:output message="tns:ListarAllParametrosGeneralesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetalleParametroGeneralxId">
      <wsdl:input message="tns:DetalleParametroGeneralxIdSoapIn" />
      <wsdl:output message="tns:DetalleParametroGeneralxIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GrabarParametroGeneral">
      <wsdl:input message="tns:GrabarParametroGeneralSoapIn" />
      <wsdl:output message="tns:GrabarParametroGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerParametroGeneral">
      <wsdl:input message="tns:obtenerParametroGeneralSoapIn" />
      <wsdl:output message="tns:obtenerParametroGeneralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarListaDeCampo">
      <wsdl:input message="tns:RegistrarListaDeCampoSoapIn" />
      <wsdl:output message="tns:RegistrarListaDeCampoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaDeCampo">
      <wsdl:input message="tns:ObtenerListaDeCampoSoapIn" />
      <wsdl:output message="tns:ObtenerListaDeCampoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarListaDeCampo">
      <wsdl:input message="tns:EliminarListaDeCampoSoapIn" />
      <wsdl:output message="tns:EliminarListaDeCampoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSConfiguracionSoap" type="tns:WSConfiguracionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarAllParametrosGenerales">
      <soap:operation soapAction="http://tempuri.org/ListarAllParametrosGenerales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalleParametroGeneralxId">
      <soap:operation soapAction="http://tempuri.org/DetalleParametroGeneralxId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarParametroGeneral">
      <soap:operation soapAction="http://tempuri.org/GrabarParametroGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerParametroGeneral">
      <soap:operation soapAction="http://tempuri.org/obtenerParametroGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarListaDeCampo">
      <soap:operation soapAction="http://tempuri.org/RegistrarListaDeCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaDeCampo">
      <soap:operation soapAction="http://tempuri.org/ObtenerListaDeCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarListaDeCampo">
      <soap:operation soapAction="http://tempuri.org/EliminarListaDeCampo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSConfiguracionSoap12" type="tns:WSConfiguracionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarAllParametrosGenerales">
      <soap12:operation soapAction="http://tempuri.org/ListarAllParametrosGenerales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalleParametroGeneralxId">
      <soap12:operation soapAction="http://tempuri.org/DetalleParametroGeneralxId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarParametroGeneral">
      <soap12:operation soapAction="http://tempuri.org/GrabarParametroGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerParametroGeneral">
      <soap12:operation soapAction="http://tempuri.org/obtenerParametroGeneral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarListaDeCampo">
      <soap12:operation soapAction="http://tempuri.org/RegistrarListaDeCampo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaDeCampo">
      <soap12:operation soapAction="http://tempuri.org/ObtenerListaDeCampo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarListaDeCampo">
      <soap12:operation soapAction="http://tempuri.org/EliminarListaDeCampo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSConfiguracion">
    <wsdl:port name="WSConfiguracionSoap" binding="tns:WSConfiguracionSoap">
      <soap:address location="http://localhost:5078/WSDAO/WSConfiguracion.asmx" />
    </wsdl:port>
    <wsdl:port name="WSConfiguracionSoap12" binding="tns:WSConfiguracionSoap12">
      <soap12:address location="http://localhost:5078/WSDAO/WSConfiguracion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>