uwns/uwns_accesos/swd_TuuaAccesos/Web References/WSBCBP/TUUASERVICE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.lp.com.pe/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.lp.com.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.lp.com.pe/">
      <s:element name="PagoTUUA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TramoIngreso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PagoTUUAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PagoTUUAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PagoTUUASoapIn">
    <wsdl:part name="parameters" element="tns:PagoTUUA" />
  </wsdl:message>
  <wsdl:message name="PagoTUUASoapOut">
    <wsdl:part name="parameters" element="tns:PagoTUUAResponse" />
  </wsdl:message>
  <wsdl:message name="PagoTUUAHttpGetIn">
    <wsdl:part name="TramoIngreso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PagoTUUAHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PagoTUUAHttpPostIn">
    <wsdl:part name="TramoIngreso" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PagoTUUAHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TUUAServiceSoap">
    <wsdl:operation name="PagoTUUA">
      <wsdl:input message="tns:PagoTUUASoapIn" />
      <wsdl:output message="tns:PagoTUUASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TUUAServiceHttpGet">
    <wsdl:operation name="PagoTUUA">
      <wsdl:input message="tns:PagoTUUAHttpGetIn" />
      <wsdl:output message="tns:PagoTUUAHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TUUAServiceHttpPost">
    <wsdl:operation name="PagoTUUA">
      <wsdl:input message="tns:PagoTUUAHttpPostIn" />
      <wsdl:output message="tns:PagoTUUAHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TUUAServiceSoap" type="tns:TUUAServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PagoTUUA">
      <soap:operation soapAction="http://www.lp.com.pe/PagoTUUA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TUUAServiceSoap12" type="tns:TUUAServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PagoTUUA">
      <soap12:operation soapAction="http://www.lp.com.pe/PagoTUUA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TUUAServiceHttpGet" type="tns:TUUAServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PagoTUUA">
      <http:operation location="/PagoTUUA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TUUAServiceHttpPost" type="tns:TUUAServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PagoTUUA">
      <http:operation location="/PagoTUUA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TUUAService">
    <wsdl:port name="TUUAServiceSoap" binding="tns:TUUAServiceSoap">
      <soap:address location="http://10.10.148.24/SITUUA/TUUASERVICE.ASMX" />
    </wsdl:port>
    <wsdl:port name="TUUAServiceSoap12" binding="tns:TUUAServiceSoap12">
      <soap12:address location="http://10.10.148.24/SITUUA/TUUASERVICE.ASMX" />
    </wsdl:port>
    <wsdl:port name="TUUAServiceHttpGet" binding="tns:TUUAServiceHttpGet">
      <http:address location="http://10.10.148.24/SITUUA/TUUASERVICE.ASMX" />
    </wsdl:port>
    <wsdl:port name="TUUAServiceHttpPost" binding="tns:TUUAServiceHttpPost">
      <http:address location="http://10.10.148.24/SITUUA/TUUASERVICE.ASMX" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>